/* ===========================================
WDT Documentation Styles
============================================= */

/* main layout */

body > .book { font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem); /* min - 14px || max - 16px */ }

.book {
    position: relative;
    display: flex;
    width: calc(100% - 60px);
    max-width: 1540px;
    margin: auto;
    overflow: clip;
    transition: var(--wdt-doc-transition-alt);
}

/* With Summary */

.book > .book-summary {
    background: var(--wdt-doc-tertiary-color);
    padding: 20px;
    width: 300px;
    z-index: 2;
    overflow-y: auto;
    height: 100vh;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.book > .book-summary::-webkit-scrollbar,
.book > .book-body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox  */
.book > .book-summary,
.book > .book-body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.book > .book-body {
    width: 100%;
    transition:var(--wdt-doc-transition-alt);
    -webkit-transition:var(--wdt-doc-transition-alt);
}


.book > .book-summary {
    position: relative;
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition:var(--wdt-doc-transition-alt);
    -webkit-transition:var(--wdt-doc-transition-alt);
}

.book.with-summary > .book-summary {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}


/* navigation */
.book > .book-summary > nav {
    font-size: calc(var(--wdt-doc-font-size-base) - 2px);
}

.book > .book-summary > nav > ul.summary li:before { display: none; }
.book > .book-summary > nav > ul li:not(:last-child) { margin-bottom: 0; }

.book > .book-summary > nav > ul.summary li a,
.book > .book-summary > nav > ul.summary li span {
    display: block;
    padding: 10px 14px;
    border-radius: var(--wdt-doc-radius-1X);
    background-color: transparent;
    color: var(--wdt-doc-text-color);
    line-height: var(--wdt-doc-line-height-ext);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative
}

.book > .book-summary > nav > ul.summary li i { margin-right: 6px; }

.book > .book-summary > nav > ul.summary li > a:hover {
    background-color: rgb(var(--wdt-doc-secondary-color-rgb),0.1);
    color: var(--wdt-doc-link-hover-color);
}

.book > .book-summary > nav > ul.summary li.active > a {
    color: var(--wdt-doc-link-hover-color);
}

.book > .book-summary > nav > ul.summary li.header {
    padding: 30px 14px 10px;
    text-transform: uppercase;
    font-weight: var(--wdt-doc-font-weight-alt);
    color: var(--wdt-doc-heading-color);
}

/* Navidation block divider */
.book > .book-summary > nav > ul.summary li.divider {
    height: 1px;
    margin: 20px 0;
    overflow: hidden;
    background: var(--wdt-doc-border-color);
} 

/* Navigation submenu */

.book > .book-summary > nav > ul.summary > li ul {
    padding-left: 6px;
    border-left: 1px solid rgb(var(--wdt-doc-heading-color-rgb),0.2);
    margin: 10px 0 10px 14px;
    display: none;
}

.book > .book-summary > nav > ul.summary > li.active ul { display: block; }

.book > .book-summary > nav > ul.summary > li > a:has( + ul):after {
    content: "\f105";
    font-family: FontAwesome;
    position: absolute;
    font-weight: 400;
    font-style: normal;
    top: 8px;
    right: 15px;
    font-size: 1.3em;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition: var(--wdt-doc-transition-alt);
    -webkit-transition: var(--wdt-doc-transition-alt);
}

.book > .book-summary > nav > ul.summary > li.active > a:has( + ul):after {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

/* banner Image */
.book > .book-body > .body-inner > .wdt-doc-banner-img img {
    min-height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* main title */
.book > .book-body > .body-inner > .page-wrapper > .page-inner > .markdown-section :is(h1, h2, h3, h4, h5, h6) i {
  margin-right: 8px;
  font-size: 1em;
  vertical-align: middle;
  color: var(--wdt-doc-primary-color);
}

/* .page-inner */
.book > .book-body > .body-inner > .page-wrapper { 
    margin: 100px 0;
    outline: none;
}

.book > .book-body > .body-inner:has( > .wdt-doc-banner-img ) > .page-wrapper { 
    margin-top: clamp(1.875rem, 1.75rem + 0.625vw, 2.5rem);  /* min - 30px || max - 40px */
}

.book > .book-body > .body-inner > .page-wrapper > .page-inner {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 80px;
}

.book > .book-body > .body-inner > .page-wrapper > .page-inner > .markdown-section > h1 + p {
    padding: 0 0 0 clamp(0rem, -1.2465rem + 4.1638vw, 3.75rem); /* min - 0px || max - 60px */
}

.book > .book-body > .body-inner > .page-wrapper > .page-inner > .markdown-section > *:not(:last-child) {
    margin-bottom: clamp(1.875rem, 1.75rem + 0.625vw, 2.5rem); /* min - 30px || max - 40px */
}

.book > .book-body > .body-inner > .page-wrapper > .page-inner > .markdown-section > :is(h1, h2, h3, h4, h5, h6):has( + p) {
    margin-bottom: clamp(0.625rem, 0.55rem + 0.375vw, 1rem) !important; /* min - 10px || max - 16px */
}

.book > .book-body > .body-inner > .page-wrapper > .page-inner > .markdown-section > :is(h1, h2, h3, h4, h5, h6):has( + ul, + ol, + blockquote, + iframe, + figure ) {
    margin-bottom: 20px !important;
}

.book > .book-body > .body-inner > .page-wrapper > .page-inner > .markdown-section strong {
    color: var(--wdt-doc-heading-color);
}

.book > .book-body > .body-inner > .page-wrapper > .page-inner > .markdown-section a:hover strong { color: var(--wdt-doc-link-hover-color); }

.book > .book-body > .body-inner > .page-wrapper > .page-inner > .markdown-section blockquote {
  border-left: clamp(0.125rem, 0.1125rem + 0.0625vw, 0.1875rem) solid var(--wdt-doc-primary-color); /* min - 2px || max - 3px */
  padding: 8px 0 8px 16px;
  margin: 0;
}

.book > .book-body > .body-inner > .page-wrapper > .page-inner > .markdown-section blockquote li h4 {
    font-size: var(--wdt-doc-font-size-ext);
}

.book > .book-body > .body-inner > .page-wrapper > .page-inner > .markdown-section blockquote > P:not(:last-child) {
    margin-bottom: 10px;
}


/* menu button */
.book > .book-body > .body-inner > .book-header .btn {
    display: block;
    text-transform: uppercase;
    line-height: 1;
    position: relative;
    font-size: 20px;
    color: var(--wdt-doc-accent-color);
    background: var(--wdt-doc-heading-color);
    padding: 8px;
    float: unset;
    width: fit-content;
}

.book > .book-body > .body-inner > .book-header .btn:hover { 
    color: var(--wdt-doc-accent-color);
    background-color: var(--wdt-doc-primary-color);
}


/* menu header block */
.book > .book-body > .body-inner:has( > .wdt-doc-banner-img) > .book-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(var(--wdt-doc-body-bg-color-rgb),0.8);
    backdrop-filter: blur(4px);
    padding: 10px 20px;
    height: fit-content;
    z-index: 2;
}

.book > .book-body > .body-inner > .book-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;

    padding: 16px 20px;
    background: rgb(var(--wdt-doc-accent-color-rgb),1);
    box-shadow: 0 10px 20px 0 rgb(var(--wdt-doc-heading-color-rgb),0.04);
    -webkit-box-shadow: 0 10px 20px 0 rgb(var(--wdt-doc-heading-color-rgb),0.04);
}

.book > .book-body > .body-inner > .book-header h1 { 
    margin: 0; font-size: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem); /* min - 18px || max - 20px */ 
}

.book > .book-body > .body-inner > .book-header > .font-settings { display: none; }


/* Next & Previous page navigation */
.book > .book-body > .body-inner > .page-wrapper > .navigation-wrapper .navigation {
    margin: auto 0 !important;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: clamp(2.5rem, 2.375rem + 0.625vw, 3.125rem); /* min - 40px || max - 60px */
    height: clamp(2.5rem, 2.375rem + 0.625vw, 3.125rem); /* min - 40px || max - 60px */
    background: var(--wdt-doc-heading-color);
    border-radius: var(--wdt-doc-radius-full);
    
    color: var(--wdt-doc-accent-color);
    font-size: clamp(1.625rem, 1.575rem + 0.25vw, 1.875rem); /* min - 26px || max - 30px */
    line-height: 1;
}

.book > .book-body > .body-inner > .page-wrapper > .navigation-wrapper .navigation:hover {
    color: var(--wdt-doc-accent-color);
    background-color: var(--wdt-doc-primary-color);
}

.book > .book-body > .body-inner > .page-wrapper > .navigation-wrapper .navigation.navigation-next { 
    right: clamp(1.25rem, -0.1816rem + 2.2346vw, 2.5rem); /* min - 20px || max - 40px */ 
}

.book > .book-body > .body-inner > .page-wrapper > .navigation-wrapper .navigation.navigation-prev { 
    left: clamp(1.25rem, -0.1816rem + 2.2346vw, 2.5rem); /* min - 20px || max - 40px */
}


/* Navigation */

.book > .book-body > .body-inner > .page-wrapper > .navigation-wrapper {
    margin-top: clamp(2.5rem, 2.25rem + 1.25vw, 3.75rem); /* min - 40px || max - 60px */
    display: flex;
    justify-content: center;
}

.book > .book-body > .body-inner > .page-wrapper > .navigation-wrapper .navigation {
    margin: 0 6px !important;
}


/* Responsive */
@media (min-width: 1025px) {
    .book .book-body {
        height: 100vh;
        overflow-y: auto;

        width: calc(100% - 300px);
        transition:var(--wdt-doc-transition-alt);
        -webkit-transition:var(--wdt-doc-transition-alt);
        transform: translateX(-150px);
        -webkit-transform: translateX(-150px);
    }

    .book.with-summary .book-body { 
        transform: translateX(0); 
        -webkit-transform: translateX(0); 
    }

}

@media (max-width: 1540px) {
    .book > .book-body > .body-inner > .page-wrapper { margin: 90px 0; }
}

@media (max-width: 1280px) {
    .book > .book-body > .body-inner > .page-wrapper { margin: 80px 0; }
}

@media (max-width: 1024px) {
    .book.with-summary {
        position: fixed;
        overflow: hidden;
    }

    .book > .book-summary {
        position: absolute;
        left: 0;
    }

    .book { width: 100%; flex-direction: column; }

    .book .book-summary { 
        background-color: var(--wdt-doc-accent-color); 
        box-shadow: 10px 0 20px 0 rgb(var(--wdt-doc-heading-color-rgb),0.1);
        -webkit-box-shadow: 10px 0 20px 0 rgb(var(--wdt-doc-heading-color-rgb),0.1);
    }

    .book > .book-body > .body-inner > .page-wrapper > .page-inner { max-width: 100%; margin: 0; padding: 0; }

    .book > .book-body > .body-inner > .page-wrapper { 
        padding-inline: 60px;
        margin-inline: 30px;
        margin-block: 70px;
    }

    .book.with-summary > .book-body > .body-inner > .wdt-doc-banner-img {
        margin-top: -69px;
        z-index: 0;
        position: relative;
    }

    .book.with-summary > .book-body > .body-inner > .page-wrapper {
        filter: blur(1.6px);
        pointer-events: none;
    }

    .book > .book-body > .body-inner > .book-header {
        position: sticky;
        top: 0;
        bottom: 0;
        padding: 16px 20px;
        background: rgb(var(--wdt-doc-accent-color-rgb),0.9);
        z-index: 1;
        box-shadow: 0 10px 20px 0 rgb(var(--wdt-doc-heading-color-rgb),0.1);
        -webkit-box-shadow: 0 10px 20px 0 rgb(var(--wdt-doc-heading-color-rgb),0.1);
    }
    
}

@media (max-width: 767px) {
    .book > .book-body > .body-inner > .page-wrapper { margin-block: 60px; }
    .book > .book-body > .body-inner > .page-wrapper > .page-inner { margin: 0 0 40px; }
    .book > .book-body > .body-inner > .page-wrapper { padding-inline: 0; }
}

@media (max-width: 479px) {
    .book > .book-body > .body-inner > .page-wrapper { margin-block: 50px; margin-inline: 20px; }
    .book .book-summary { width: 250px; }
}